

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  
}

h1 {
  @apply text-[31px] md:text-[75px] !important;
}

h2 {
  @apply md:text-[60px] !important;
}

h3 {
  @apply text-[23px] md:text-[40px] !important;
}

h4 {
  @apply md:text-[27px] !important;
}

h5 {
  @apply md:text-[25px] !important;
}

h6 {
  @apply md:text-[23px] !important;
}

p {
  @apply text-[18px] md:text-[22px] !important;
}

small {
  @apply text-[13px] md:text-[16px] !important;
}